@font-face {
    font-family: 'Alaska';
    src: url('fonts/Alaska-Regular.woff2') format('woff2'),
        url('fonts/Alaska-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Alaska';
    src: url('fonts/Alaska-SemiBold.woff2') format('woff2'),
        url('fonts/Alaska-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@import 'variables';
@import 'normalize';

body {
    font-family: $font;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    background-color: $primary;
    margin: 0;
    padding: 22px;

}




.header {
    background-color: transparent;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 18px 22px 0 21px;

    .container {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        font-size: 2rem;
    }

    .header-logo img {
        width: 128px;
        height: 118px;
    }

    .header-nav {
        display: block;

        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;

            li a {
                position: relative;
                font-size: $font-size-md;
                margin-right: 48px;
                color: $dark;
                text-decoration: none;
                transition: color 0.3s ease;


                &.lang-switch {
                    position: relative;
                    color: $secondary;
                    font-size: $font-size-xs;
                    top: 4px;

                }
            }

            .lang-switch::before {
                background: $secondary;
            }

            li a::before {
                content: ' ';
                position: absolute;
                left: 0;
                bottom: -7px;
                width: 100%;
                height: 1px;
                background: $dark;
                transform: scaleX(0);
            }

            li a:hover:before {
                transform: scaleX(1);
            }

        }
    }



    .menu-mobile {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: $primary;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 999;
        transform: translateY(-100%);
        transition: transform .5s ease-in-out;

        ul {
            list-style: none;
            padding: 0;
            margin: 37px 0 0;
            display: flex;
            flex-direction: column;
            gap: 36px;



            li a {
                position: relative;
                color: $dark;
                font-size: $font-size-md;
                text-decoration: none;

            }

            li a::before {
                content: ' ';
                position: absolute;
                left: 0;
                bottom: -7px;
                width: 100%;
                height: 1px;
                background: $dark;
                transform: scaleX(0);
            }

            li a:hover:before {
                transform: scaleX(1);
            }
        }

        &.active {
            display: flex;
            transform: translateY(0);
        }
    }

    .hamburger {
        display: none;
        cursor: pointer;
        position: relative;
        width: 47px;
        height: 50px;

        justify-content: center;
        align-items: center;

        .dot {
            position: relative;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $dark;
            display: block;
            margin: 6px 0;
            transition: .3s ease;
            margin-left: 27px;

        }

        .dot1.active {
            transform: translateY(0) translateX(-10px);
        }

        .dot3.active {
            transform: translateY(-13px) translateX(-20px);
        }
    }
}

.hero {
    padding-top: 219px;
    text-align: left;
    max-width: 770px;
    margin: 0 auto;

    h1 {
        font-size: 48px;
        font-weight: $font-regular;
        line-height: 56px;
        height: 184px;
    }
}



.dot-wrap {
    position: relative;
    top: -437px;
    left: -413px;
}

.dot-1 {
    position: absolute;
    top: 170px;
    left: 539px;
}

.dot-2 {
    position: absolute;
    top: 321px;
    left: 293px;
}

.dot-3 {
    position: absolute;
    top: 355px;
    left: 816px;
}


.hero p {
    font-size: 20px;
    line-height: 28px;
    font-weight: $font-regular;
    height: 160px;
}

.btn-primary {
    color: $color;
    padding: 18px 38px;
    border: 1px solid $color;
    text-decoration: none;
    border-radius: 100px;
    display: inline-block;
    margin-top: 27px;
    transition: all .4s;
}

.btn-primary:hover {
    background-color: $color;
    color: $bg-color;
}


.image-text-section {
    padding: 95px 0;
}

.image-row {
    display: flex;
    gap: 37px;
    justify-content: center;
    flex-wrap: wrap;
}

.image-wrapper {
    flex-basis: 31%;
}

.image {
    width: 100%;
    height: 100%;
    aspect-ratio: 488 / 413;
    object-fit: cover;
    object-position: 50% 90%;
}


.aside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 99px;
}


.column {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.first-column {
    max-width: 343px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 27px;
}

.first-column p {
    margin-bottom: 19px;
}

.text-row {
    display: flex;
    gap: 58px;
}

.text-row p {
    max-width: 343px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -.4px;
}

.line {
    max-width: 756px;
    height: 1px;
    background-color: $dark;
    margin: 0 auto;
}

.contact-form {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
}

.contact-form h2 {
    font-size: $font-size-xl;
    font-weight: $font-regular;
    text-align: left;
    margin-bottom: 63px;
}

.form-row {
    display: flex;
    gap: 48px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group input {
    height: 51px;
}

.form-group label {
    margin-bottom: 13px;
}

.form-group {
    margin-bottom: 23px;
}

input,
textarea {
    width: 100%;
    border: 1px solid $border-color;
    outline: none;
}

input:focus,
textarea:focus {
    border-color: $gray-dark;
}

textarea {
    height: 161px;
    resize: none;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 41px;

    input[type="checkbox"] {
        width: 21px;
        height: 20px;
        appearance: none;
        border-radius: 50%;
        border: 1px solid $dark;
        cursor: pointer;
        position: relative;
        transition: all .3s ease;
    }

    input[type="checkbox"]:checked {
        background: $gray-dark;
        border: 1px solid $gray-light;
    }

    label {
        font-size: $font-size-xs;
    }
}

.success-message {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 486px;
    margin: 0 auto;

    img {
        width: 85px;
        height: 78px;
        margin-bottom: 31px;
    }

    p {
        font-size: $font-size-md;
        text-align: center;
        margin-bottom: 20px;

    }

    .miriki {
        font-size: $font-size-md;
        margin-bottom: 70px;
    }
}

.submit {
    position: relative;
    padding: 18px 46px;
    margin-bottom: 151px;
    transform: translateY(0);
    left: 0;
}

.submit,
#backToForm {
    position: relative;
    transition: all .5s ease;
}

#contactForm,
#successMessage {
    min-height: 746px;
}


.footer {
    background-color: $bg-color;
    margin-left: -22px;
    margin-right: -22px;
    margin-bottom: -22px;

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 37px 20px 31px;
        border-bottom: 1px solid $gray-light;

        .dots {
            margin-left: 11.5rem;

        }

        .dots img {
            width: 100%;
            height: auto;
        }

        .dots-change {
            display: none;
        }

        .row-container {
            font-size: $font-size-md;
            display: flex;
            justify-content: center;
            gap: 6rem;

        }

        .footer-social {
            display: flex;
            flex-direction: row-reverse;
            gap: 6px;
            position: relative;

            .social-media-item {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border: 1px solid $gray-light;
                border-radius: 50%;
                transition: opacity .3s ease;
                cursor: pointer;
            }

            .social-media-item:hover {
                opacity: .5;
            }

            .social-media-icon img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
            }
        }

        .back-to-top {
            background: $color;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            left: -5px;
            transition: all .5s ease;

            img {
                width: 100%;
                height: 17.5px;
            }
        }

        .back-to-top:hover {
            transform: scale(1.1);
        }
    }

    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;

        .footer-copyright {
            font-size: 13px;
            color: $secondary;
        }

        .footer-icons {
            display: flex;
            gap: 10px;
            margin-right: -22px;
            align-items: center;
            justify-content: center;
            height: 55px;

            img {
                width: auto;
                max-width: 32%;
                height: 55px;
                object-fit: contain;
            }
        }
    }
}

// Queries

@media (max-width: 1250px) {
    .image-row {
        gap: 25px;
    }

    .footer .row .dots {
        margin-left: 2rem;

        img {
            width: 75%;
        }
    }
}

@media (max-width:1050px) {
    .footer .row .row-container {
        gap: 2rem;
    }
}

@media (max-width: 990px) {

    .header {
        background-color: $primary;
        height: 113px;

        .header-nav {
            display: none;
        }

        .hamburger {
            display: block;
        }

        .menu-mobile {
            display: none;
        }

        .header-logo img {
            width: 80px;
            height: 74px;
        }
    }

    .image-row {
        gap: 20px;
    }


    .footer .footer-bottom {
        flex-direction: column;
        align-items: self-start;
        gap: 1rem;

        .footer-icons {
            margin-left: -2rem;
        }
    }

    .footer .row .dots {
        margin-right: 1rem;
        margin-left: 0;


        img {
            width: 17rem;
        }
    }
}

@media (max-width: 840px) {
    .image-wrapper {
        flex-basis: 100%;
    }

    .footer .row .footer-social {
        gap: 15px;
    }
}

@media (max-width: 790px) {
    .first-column {
        max-width: 75%;
        font-size: 24px;
    }

    .text-row {
        flex-direction: column;

        p {
            max-width: 90%;
            font-size: $font-size-sm;
        }
    }

    .form-row {
        gap: 20px;
    }

    .footer {
        .row {
            padding-bottom: 22px;

            .dots {
                margin: 0;

                img {
                    display: none;
                }

                .dots-change {
                    position: relative;
                    display: block;
                    width: 6.5rem;
                    left: -85%;
                    bottom: -5rem;
                }
            }
        }

        .row .row-container {
            flex-direction: column;
            align-items: baseline;
            gap: 3.7rem;
        }

        .back-to-top {
            top: 4.8rem;
        }
    }
}

@media (max-width: 700px) {

    .checkbox-group {
        align-items: flex-start;
        gap: 10px;

        label {
            position: relative;
            top: -2px;
        }
        input[type="checkbox"] {
            width: 20px;
            height: 17px;
            box-sizing: border-box;
            margin: 0;

        }
    }
}

@media (max-width: 575px) {
    .footer .row .dots .dots-change {
        display: none;
    }

    .checkbox-group input[type="checkbox"] {
      
        width: 21px;
        height: 14px;
    }
}

@media (max-width: 510px) {
    .hero {
        .btn-primary {
            margin-top: 67px;
        }
    }

    .form-row {
        flex-direction: column;
        gap: 0;

        .form-group {
            label {
                margin-bottom: 7px;
            }
        }
    }

    .success-message {
        width: 100%;
        padding-top: 12rem;
    }

    #contactForm,
    #successMessage {
        min-height: 983px;
    }

    .checkbox-group {
        label {
            top: -3px;
        }
}
}
@media (max-width: 440px) {
    .hero {
        h1 {
            font-size: 40px;
        }

        p {
            font-size: $font-size-sm;
        }

        .btn-primary {
            margin-top: 100px;
        }

        .dot-3 {
            display: none;
        }
    }

    .checkbox-group {
        label {
            top: -4px;
        }
      
        input[type="checkbox"] {
            width: 22px;
            height: 13px;
            position: relative;
        }
    }

    .footer .footer-bottom .footer-icons {
        flex-wrap: wrap;
        justify-content: flex-start;
        height: max-content;

        img {
            flex-basis: 48%;
            height: 55px;
        }

        img:nth-child(1) {
            margin-left: 27px;
        }

        img:nth-child(3) {
            flex-basis: 100%;
            margin-left: 0;

        }
    }

}

@media (min-width: 2000px) {
    .image-wrapper {
        flex-basis: 19%;
    }
}