@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Poppins:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, li,
figure,
fieldset,
hr {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}


ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


button, input, select, textarea {
    font: inherit;
    color: inherit;
    background: none;
    padding: 0;
    border: none;
    outline: none;
    appearance: none;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
    height: auto;
}

:focus {
    outline: none;
}